.gomduri_title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-left: 70px;
  padding-bottom:20px;
}
    
.gomduri {
  height: 100px;
  text-align: center;
  background-color: rgba(45, 109, 204, 0.8);
  color:white;
  border-radius: 30px;
  margin: 100px auto 50px auto;
  padding-top:35px;
  max-width: 3000px;
  min-width: 1000px;
}
  
.gomduri_site{
  background-color: rgba(206, 206, 206, 0.2);
  border-radius: 60px;
  text-align: center;
  margin: auto auto 100px auto;
  padding : 20px 80px;
  padding-bottom: 20px;
  clear: both;
  overflow: hidden;
  max-width: 3000px;
  min-width: 1000px;
}

   